.card {
    margin: 20px;
}

.card h3, .all-post {
    margin-top: 20px;
    margin-left: 20px;
}

.post-button {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.post {
    padding: 20px;
}

.post-user-edit {
    display: flex;
    justify-content: space-between;
}

.post-user-edit #username {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.post-user-edit #username:hover {
    color: rgb(160, 12, 158);
}

.post-user-edit .edit {
    font-size: 20px;
}

.page-navigation {
    display: flex;
    justify-content: end;
    margin: 30px;
}

.profile-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-inner {
    display: flex;
    flex-direction: column;
}

/* CSS */
.follow-button {
  align-items : center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.follow-button:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.follow-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.follow-button:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.follow-button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.follow-button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.follow-button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.follow-button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.follow-button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}











.follow-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.follower-text {
    color: blueviolet;
}

.following-text {
    color: green;
}